.userPhoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(29, 171, 255, 0.53) 
}

.containerUser{
    margin: 10px 0;
    padding: 10px;
    width: 350px;
}

.userButton{
    display: inline-block;
    justify-self: start;
    align-self: center;
    margin: 5px 0;
    cursor: pointer;
    background-color: rgba(29, 171, 255, 0.53);
    color: white;
    padding: 2px 7px;
    border-radius: 10px;
    border:  0.1px solid rgba(29, 171, 255, 0.53);
    margin-left: 20px;
}

.userButton:hover{ 
    background-color: #f1ffff;
    color: rgba(29, 171, 255, 0.53);
}

.followContainer{
    display: grid;
    grid-template-columns: auto 1fr;
}

.userName{
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 0;
}